{% load static %}
<footer class="p-2" style="background-color: rgb(252, 250, 250) ;">
    <div class="container w-75 m-auto p-5 row text-dark">
      <div class="col-md-6">
        <p> <small>Copyright @ SuccessTuition. All Right Reserved </small></p>
        <h5>Follow Us</h5>
        <div class="icon">
          <img class="icon" src="{% static 'icon1.png'%}" alt="">
          <img class="icon" src="{% static 'icon2.png'%}" alt="">
          <img class="icon" src="{% static 'icon3.png'%}" alt="">
        
        </div>
        
      </div>
      <div class="col-md-3 list-unstyled">
        <h5>Company</h5>
        <li>about </li>
        <li>Contract us</li>
        <li> Culture</li>
        <li>Blog</li>

      </div>
      <div class="col-md-3 list-unstyled">
        <h5>Company</h5>
        <li>About</li>
        <li> Contract Us</li>
        <li>Culture</li>
        <li>Blog</li>

      </div>
    </div>
    <hr>
    <p class="text-center mt-3 text-black"><small>Copyright @ SuccessTuition. All Right Reserved</small></p>


    </footer>