{% extends 'base.html' %} 
{% load static %} 
{% block head_title %}home{% endblock %} {% block content %}
<div class="row d-flex flex-warp align-items-center m-auto ">
    <div class="col-sm-6 text-center ">
      <h1 class="text-success" class="font-bold">Success</h1>
      <h1 class="text-success">Tuition Center</h1>
      <h5 class="text-danger">
        Now in Your Neigbrouerhod
      </h5>
      <h6 class="bg-warning">For class 4 to 10 students</h6>
      <p class="text-primary">
        Come to us and choice your subject to grow your larning sprit 100 %.We are available 24/7 days with online.
        so, don't be late!
      </p>
    </div>
    <div class="col-sm-6 mt-2">
      <img src="{% static 'front-3.jpg' %}" alt="" />
    </div>
  </div>
 <br>
 <br>

 <div>
  <h3 class="border border-box border-2 mx-5  text-center" style="background-color:#4a6ae9">{{ data | length }} Tuition Found</h3>
</div>

<div class="row " >
  <div class="text-center d-flex flex-wrap">
    {% for i in data2 %}
    <button class="mx-3 text-decoration-none "><a href="{% url 'class_wise_home' i.slug %}">{{i.class_name}}</a></button>
    {% endfor %}
    <button><a href="{% url 'home' %}">All</a></button>
  </div>

  <br>
  <br>
  <div>
   
  <h3>All Tuition Information</h3>
      <table class="table table-bordered ">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Class</th>
              <th scope="col">time</th>
              <th scope="col">Teacher</th>
              <th scope="col">Teacher's Degree</th>
              <th scope="col">Subject</th>
              <th scope="col">Fee</th>
            </tr>
          </thead>
          <tbody class="bg-info-subtle">
            {% for i in data%}
            <tr>
              <th scope="row ">{{i.id}}</th>
              <td>{{i.name}}</td>
              <td>{{i.time}}</td>
              <td>{{i.teacher}}</td>
              <td>{{i.teacher.degree}}</td>
              <td>{{i.subject}}</td>
              <td>{{i.fee}}</td>
            </tr>
            {% endfor %}
           
          </tbody>
        </table>
  </div>

  <br>
  <hr>
  <br>
  
{% if data3 %}
<div class="card">
  <div class="card-header">
    Review
  </div>
  {% for dt in data3 %}
  <div class="card-body">
    <h5 class="card-title">{{dt.name}}</h5>
    <p class="card-text">{{dt.body}}</p>
    <p class="card-text">{{dt.star}}</p>
    <p class="card-text">{{dt.time}}</p>
  </div>
  {% endfor %}
</div>
{% endif %}
  



{% endblock %}


