{% extends 'base.html' %} 
{% load static %} 
{% block head_title %}prifile{% endblock %} 
{% block content %}

 <div>
    <h2 class="text-center">hello {{request.user.first_name}} {{request.user.last_name}}! welcome to profile</h2>
  </div>
<hr>
</br>
</br>

<br>
<div class="row d-flex flex-wrap mx-auto gap-5">
 <div class="col-lg-5 col-md-5 col-sm-12 mx-auto">
  <h3 class="text-center">Student Information</h3>
  {% for st in data %}
  <div class="card mx-auto" style="width: 18rem;">
    <img src="{{st.image.url}}" class="card-img-top" alt="...">
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Id : {{st.id}}</li>
        <li class="list-group-item">Name : {{st.user.first_name}} {{st.user.last_name}}</li>
        <li class="list-group-item">Class Name : {{st.user.email}}</li>
        <li class="list-group-item">Subject : {{st.mobile_no}}</li>
        <li class="list-group-item">Gender : {{st.gender}}</li>

      </ul>
    </div>
  </div>
  {% endfor %}
 </div>

 <div class="col-lg-5 col-md-5 col-sm-12 mx-auto">
  <h3 class="text-center">Tuition Information</h3>
  {% for tui in data2 %}
  {% if tui.is_approved%}
  <div class="card mx-auto" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Id : {{tui.id}}</li>
      <li class="list-group-item">Name :{{tui.student.first_name}} {{tui.student.last_name}}</li>
      <li class="list-group-item">Class Name :{{tui.class_name}}</li>
      <li class="list-group-item">Subject :{{tui.subject}}</li>
      <li class="list-group-item">Tuition Status : {{tui.tuition_status}}</li>
      <li class="list-group-item">Approval Status : {{tui.is_approved}}</li>
      <li class="list-group-item">Teacher : {{tui.subject.teacher.user.first_name}}</li>
    </ul>
    <div class="card-body">
      <button class="btn btn-outline-info text-white"><a class="text-decoration-none" href="{% url 'review' tui.subject.teacher.user.id%}">Review</a></button>
      
    </div>

  </div>
  {% endif %}
  {% endfor %}
 </div>

 
</div>


{% endblock %}