{% extends 'base.html' %} 

{% load crispy_forms_tags %} 
{% block head_title %}signup{% endblock %} 
{% block content %}
<h2>{{type}} Page</h2>
<div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form| crispy}}
        <button class="btn btn-primary" type="submit">Submit</button>
        {% if request.user.is_authenticated %}
        <button class="btn btn-info"><a href="{% url 'profile' %}">Cancel</a></button>
        {% endif %}
    </form>
</div>

{% endblock %}